<html>
<head>
    <title>Email Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; font-family: 'Manrope', sans-serif;">

<!-- Wrapper table -->
<table cellpadding="0" cellspacing="0" border="0" style="background-color: #F9EEE1; padding: 60px 20px; width: 100%; margin: 0 auto;">

    <!-- Top card -->
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; border-radius: 12px; padding: 60px 20px 20px 20px; max-width: 500px; width: 100%;">
                <!-- Archstore logo -->
                <tr>
                    <td align="center" style="padding: 10px 0;">
                        <img alt="archstore logo" src="https://archstore-website.s3.ap-south-1.amazonaws.com/static/media/Group+1000002036.png" style="display: block; height: auto; max-width: 100%;" />
                    </td>
                </tr>
                <!-- Email Verification -->
                <tr>
                    <td align="center" style="padding: 10px 0;">
                        <h1 style="margin: 0; color: #000000; font-weight: 500; font-size: 26px;">Email Verification</h1>
                    </td>
                </tr>
                <!-- Greeting para -->
                <tr>
                    <td align="center" style="padding: 20px 0;">
                        <p style="margin: 0; color: #474747; font-size: 13px; font-weight: 400; width: 100%; max-width: 248px;">Hey ##fName you're almost there! <br> Just one quick click to verify your email and simplify your product discovery.</p>
                    </td>
                </tr>
                <!-- Verify button -->
                <tr>
                    <td align="center" style="padding: 20px 0;">
                        <a href="##validationLink" style="background-color: #000000; color: #FFFFFF; text-decoration: none; padding: 10px 32px; border-radius: 28px;">Verify email address</a>
                    </td>
                </tr>
                <!-- dashed line -->
                <tr>
                    <td align="center" style="padding: 20px 0;">
                        <p style="margin: 0; height: 1px; width: 60%; border-top: 1px dashed #000000;"></p>
                    </td>
                </tr>
                <!-- Acknowledge para -->
                <tr>
                    <td style="padding: 20px 0;">
                        <p style="margin: 0; font-weight: 500; letter-spacing: 0.8px; font-size: 16px; color: #000000; text-align: center;">Best regards, <br>Team archstore.in</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Bottom card -->
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 20px 0 20px 0; margin: 0 auto; max-width: 500px; width: 100%;">
                <!-- Stay in touch -->
                <tr>
                    <td align="center" style="padding: 0;">
                        <h1 style="margin: 0; color: #000000; font-weight: 500; font-size: 20px; letter-spacing: 0.8px;">stay in touch</h1>
                    </td>
                </tr>
                <!-- Social media -->
                <tr>
                    <td align="center" style="padding: 10px 0;">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="padding: 0 5px;">
                                    <a href="https://www.youtube.com/@archstore125">
                                        <img src="https://archstore-website.s3.ap-south-1.amazonaws.com/static/media/Frame+1410119637.png" style="display: block; height: auto; max-width: 100%;" />
                                    </a>
                                </td>
                                <td style="padding: 0 5px;">
                                    <a href="https://www.facebook.com/Archstore.in/">
                                        <img src="https://archstore-website.s3.ap-south-1.amazonaws.com/static/media/Frame+1410119635.png" style="display: block; height: auto; max-width: 100%;" />
                                    </a>
                                </td>
                                <td style="padding: 0 5px;">
                                    <a href="https://www.linkedin.com/company/archstore/">
                                        <img src="https://archstore-website.s3.ap-south-1.amazonaws.com/static/media/Frame+1410119636.png" style="display: block; height: auto; max-width: 100%;" />
                                    </a>
                                </td>
                                <td style="padding: 0 5px;">
                                    <a href="https://www.instagram.com/archstore.in/?igshid=MzRlODBiNWFlZA%3D%3D">
                                        <img src="https://archstore-website.s3.ap-south-1.amazonaws.com/static/media/Frame+1410119634.png" style="display: block; height: auto; max-width: 100%;" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Copywrite -->
                <tr>
                    <td style="color: #4F4F4F;  padding: 0 20px;">
                        <p style="margin: 0; text-align: center; font-size: 12px; font-weight: 500; letter-spacing: 0.8px;">Email sent by archstore.in <br> Copyright @ 2023 - All rights reserved</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End of wrapper table -->

</body>
</html>