.myauthors-container{
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.author-scroll-container::-webkit-scrollbar{
    display: none;
}

.featuredAuthors-scroll-container::-webkit-scrollbar{
    display: none;
}