.myCategories-container{
     font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

.mycategories-scroll-container::-webkit-scrollbar{
    display: none;
}
